@model IEnumerable<HoiThao.Web.Models.aseanViewModel>

@{
    ViewBag.Title = "AseanReportDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AseanReportDemo</h2>

<p>
    @*@Html.ActionLink("Print Report", "ExportReport")*@
    <iframe src="@Url.Action("ExportReport", "Print")" height="500" width="100%"></iframe>
    <CR:CrystalReportViewer ID="VetourViewer" runat="server" AutoDataBind="True" HasSearchButton="False" HasToggleGroupTreeButton="False" PrintMode="ActiveX" ToolPanelView="None" DisplayToolbar="False" HasToggleParameterPanelButton="False" Height="50px" Width="350px" EnableDatabaseLogonPrompt="False" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.k)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.speaker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.institutio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dangky)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bankfee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCheckin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCheckout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelBookingInf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bongsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cibongsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cobongsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bs_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bsbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kimdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cikimdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cokimdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kd_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kdbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciwinsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cowinsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ws_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wsbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sofitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cisofitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cosofitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sf_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sfbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cirex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.corex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rex_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rexbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caravelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cicaravel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cocaravel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ca_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cabk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sheraton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cisheraton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cosheraton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sh_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shbk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.htlother)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuchi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuchiper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saigon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saigonper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.golf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.golfper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mekong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mekongper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phanthiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ptper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.central)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wonder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wdper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deepmk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deepmkper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhatrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhatrangsk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kpc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kpcsk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.laosk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ydepdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ydeproute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ydepperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cdepdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cdeproute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cdepperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yretdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yretroute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yretperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cretdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cretroute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cretperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bus_ah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bus_ha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_ah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sharecarah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_ha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sharecarha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bschinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giachinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bsnoitru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gianoitru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dikem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giadikem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithao1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaht1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithaogp1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giahtgp1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithao2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaht2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithaogp2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giahtgp2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithao3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaht3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoithaogp3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giahtgp3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaallergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.afno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vatbill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taxcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.k)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.speaker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.institutio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dangky)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bankfee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelCheckin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelCheckout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelBookingInf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bongsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cibongsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cobongsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bs_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bsbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kimdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cikimdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cokimdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kd_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kdbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciwinsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cowinsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ws_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wsbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sofitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cisofitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cosofitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sf_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sfbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cirex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.corex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rex_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rexbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caravelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cicaravel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cocaravel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ca_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cabk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sheraton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cisheraton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cosheraton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sh_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shbk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.htlother)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cityper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuchi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuchiper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saigon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saigonper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golfper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mekong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mekongper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phanthiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ptper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.central)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wonder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wdper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deepmk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deepmkper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhatrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhatrangsk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kpc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kpcsk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.laosk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ydepdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ydeproute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ydepperson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cdepdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cdeproute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cdepperson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yretdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yretroute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yretperson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cretdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cretroute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cretperson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bus_ah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bus_ha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_ah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sharecarah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_ha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sharecarha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bschinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giachinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bsnoitru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gianoitru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dikem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giadikem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithao1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaht1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithaogp1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giahtgp1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithao2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaht2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithaogp2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giahtgp2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithao3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaht3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoithaogp3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giahtgp3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaallergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.afno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vatbill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taxcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
